{{ define "main" }}
<main aria-roledescription="main">
    <section id="hero-section" class="section py-40">
        <div class="container">
            <div class="helmet mb-20">
                <p class="fade-in eyebrow mb-5">Services</p>
                <h1 class="fade-in mb-10">Your website, your price</h1>
                <p class="fade-in subheading">Invest at whichever level makes the most sense for your business. My services are designed to provide incredible value at any price point.</p>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 mb-10">
                <div id="standard-card" class="col-span-1 flex flex-col items-start bg-gradient-to-b from-bluebird-light to-bluebird border border-gray-50 rounded-2xl shadow-xl p-10">
                    <div class="mb-5">
                        <p class="text-xl font-medium text-white tracking-tight opacity-90 mb-5">Standard</p>
                        <h2 class="text-white mb-5">$1,900
                            <span class="text-xl font-medium text-white opacity-90 tracking-normal">min.</span>
                        </h2>
                        <p class="text-white opacity-80">The best option for most small- to medium-sized websites. You will receive a custom-built Webflow, WordPress, or HTML-based website that will impress your visitors.</p>
                    </div>
                    <ul class="flex flex-col items-start mb-10">
                        <li class="flex justify-start align-middle py-3">
                            <img src="/img/white-check.svg" alt="White check mark" class="w-5 h-5 mr-2">
                            <p class="text-white">Design and development for up to 6 page layouts</p>
                        </li>
                        <li class="flex justify-start align-middle py-3">
                            <img src="/img/white-check.svg" alt="White check mark" class="w-5 h-5 mr-2">
                            <p class="text-white">Full-color PDF brand style guide</p>
                        </li>
                        <li class="flex justify-start align-middle py-3">
                            <img src="/img/white-check.svg" alt="White check mark" class="w-5 h-5 mr-2">
                            <p class="text-white">Custom domain name and hosting with 99.9% uptime</p>
                        </li>
                        <li class="flex justify-start align-middle py-3">
                            <img src="/img/white-check.svg" alt="White check mark" class="w-5 h-5 mr-2">
                            <p class="text-white">Third-party API integrations</p>
                        </li>
                        <li class="flex justify-start align-middle pt-3">
                            <img src="/img/white-check.svg" alt="White check mark" class="w-5 h-5 mr-2">
                            <p class="text-white">Unlimited design revisions (yes, really!)</p>
                        </li>
                    </ul>
                    <a href="http://bit.ly/asd-intro-call" target="blank" class="btn-white w-full">Click here to get started</a>
                </div>
                <div id="custom-card" class="col-span-1 flex flex-col items-start bg-white border border-gray-100 rounded-2xl shadow-xl p-10">
                    <div class="mb-5">
                        <p class="eyebrow mb-5">Premium</p>
                        <h2 class="mb-5">Custom</h2>
                        <p class="text-gray-400">For those business owners who know exactly what they want, I also offer a menu of upgrades designed to take your website to the next level.</p>
                    </div>
                    <ul class="flex flex-col items-start mb-10">
                        <li class="flex justify-start align-middle py-3">
                            <img src="/img/blue-check.svg" alt="Blue check mark" class="w-5 h-5 mr-2">
                            <p>Additional website page layouts</p>
                        </li>
                        <li class="flex justify-start align-middle py-3">
                            <img src="/img/blue-check.svg" alt="Blue check mark" class="w-5 h-5 mr-2">
                            <p>User login and authentication</p>
                        </li>
                        <li class="flex justify-start align-middle py-3">
                            <img src="/img/blue-check.svg" alt="Blue check mark" class="w-5 h-5 mr-2">
                            <p>Custom eCommerce platform development</p>
                        </li>
                        <li class="flex justify-start align-middle py-3">
                            <img src="/img/blue-check.svg" alt="Blue check mark" class="w-5 h-5 mr-2">
                            <p>Advanced website animations</p>
                        </li>
                        <li class="flex justify-start align-middle pt-3">
                            <img src="/img/blue-check.svg" alt="Blue check mark" class="w-5 h-5 mr-2">
                            <p>Custom website illustrations and/or icons</p>
                        </li>
                    </ul>
                    <a href="http://bit.ly/asd-intro-call" target="blank" class="btn-blue w-full">Click here to get started</a>
                </div>
            </div>
            <div id="callout" class="flex flex-col lg:flex-row justify-center lg:justify-start items-center text-center lg:text-left bg-gray-50 rounded-xl p-10">
                <div class="icon-wrapper flex-shrink-0 mb-4 lg:mr-4 lg:mb-0">
                    <img src="/img/warning.webp" alt="Warning sign emoji" class="h-10 w-10">
                </div>
                <p><span class="font-bold">Please note: </span>At this time, I do not offer custom logo design or copywriting. Clients are required to supply their own content. If you have any questions, please send me an <a href="mailto:hello@alexsanchez.design" class="link">email.</a> Sorry for any inconvenience.</p>
            </div> 
        </div>
    </section>

    <section id="services-grid" class="section py-32">
        <div class="container">
            <div class="helmet mb-10">
                <p class="fade-in eyebrow mb-5">Services</p>
                <h2 class="fade-in mb-10">Always included</h2>
                <p class="fade-in subheading">Regardless of which services you choose, you can be rest assured that your final project will consist of everything below.</p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-rows-auto gap-10">
                <div class="card text-center">
                    <div class="icon-wrapper mx-auto mb-5">
                        <img src="/img/phone.webp" alt="Phone emoji" class="h-10 w-10">
                    </div>
                    <h4 class="mb-3">Strategy call</h4>
                    <p class="text-gray-400">Every project begins with a Zoom strategy call to outline goals and clarify project expectations.</p>
                </div>
                <div class="card text-center">
                    <div class="icon-wrapper mx-auto mb-5">
                        <img src="/img/lock.webp" alt="Lock and key emoji" class="h-10 w-10">
                    </div>
                    <h4 class="mb-3">Free HTTPS</h4>
                    <p class="text-gray-400">Included TLS certificate ensures increased security, improved search rankings, and boosted performance.</p>
                </div>
                <div class="card text-center">
                    <div class="icon-wrapper mx-auto mb-5">
                        <img src="/img/gear.webp" alt="Gear emoji" class="h-10 w-10">
                    </div>
                    <h4 class="mb-3">Simple back-end</h4>
                    <p class="text-gray-400">Depending on the project, your site content will be managed by a service like Webflow, WordPress, or Netlify.</p>
                </div>
                <div class="card text-center">
                    <div class="icon-wrapper mx-auto mb-5">
                        <img src="/img/magnifying-glass.webp" alt="Magnifying glass emoji" class="h-10 w-10">
                    </div>
                    <h4 class="mb-3">On-page SEO</h4>
                    <p class="text-gray-400">Properly-formatted and accessible markup guarantees a boost in web traffic and search engine rankings.</p>
                </div>
                <div class="card text-center">
                    <div class="icon-wrapper mx-auto mb-5">
                        <img src="/img/quiet.webp" alt="Shushing face emoji" class="h-10 w-10">
                    </div>
                    <h4 class="mb-3">Private messaging</h4>
                    <p class="text-gray-400">Communication will take place within Slack, a free application that is faster and more secure than email.</p>
                </div>
                <div class="card text-center">
                    <div class="icon-wrapper mx-auto mb-5">
                        <img src="/img/film.webp" alt="Film emoji" class="h-10 w-10">
                    </div>
                    <h4 class="mb-3">Video training</h4>
                    <p class="text-gray-400">Our project will conclude with a video training on how to easily edit and maintain your website.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="feature-section1" class="section py-32 bg-gray-50">
        <div class="container">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
                <div class="lg:pers-left lg:col-span-2">
                    <img src="/img/calendar-mockup.webp" alt="Browser mockup of a calendar application" class="float" loading="lazy">
                </div>
                <div class="flex flex-col justify-center items-start max-w-xl mx-auto lg:max-w-none">
                    <p class="fade-in eyebrow mb-5">Step one</p>
                    <h2 class="fade-in mb-5">Schedule intro call</h2>
                    <p class="fade-in text-lg text-gray-600 mb-5">The first step is to fill out a short application and select a time on my calendar for your free intro call.</p>
                    <p class="fade-in text-gray-600 mb-10">Don't worry––this is <strong>not</strong> a sales call. If we both feel like working together is a good fit, we can discuss that on the call. If not, I'll direct you to someone who can help.</p>
                    <div class="fade-in flex justify-start items-center">
                        <a href="http://bit.ly/asd-intro-call" target="blank" class="link-xl mr-2">Get started</a>
                        <div class="chevron"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="feature-section2" class="section py-32">
        <div class="container">
            <div class="grid grid-cols-1 grid-rows-1 lg:grid-cols-3 gap-10">
                <div class="row-start-2 lg:row-start-1 lg:col-start-1 flex flex-col justify-center items-start max-w-xl mx-auto lg:max-w-none">
                    <p class="fade-in eyebrow mb-5">Step two</p>
                    <h2 class="fade-in mb-5">Review proposal</h2>
                    <p class="fade-in text-lg text-gray-600 mb-5">After we've discussed your business and website needs, I'll put together a detailed project proposal.</p>
                    <p class="fade-in text-gray-600 mb-10">This proposal will outline the scope of work, milestones, deliverables, terms of payment, project timeline, as well as a quote for the entire project.</p>
                    <div class="fade-in flex justify-start items-center">
                        <a href="http://bit.ly/asd-intro-call" target="blank" class="link-xl mr-2">Get started</a>
                        <div class="chevron"></div>
                    </div>
                </div>
                <div class="lg:pers-right lg:col-span-2">
                    <img src="/img/proposal-mockup.webp" alt="Browser mockup of project proposal" class="float" loading="lazy">
                </div>
            </div>
        </div>
    </section>

    <section id="feature-section3" class="section py-32 bg-gray-50">
        <div class="container">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
                <div class="lg:pers-left lg:col-span-2">
                    <img src="/img/invoice-mockup.webp" alt="Browser mockup of an invoice" class="float" loading="lazy">
                </div>
                <div class="flex flex-col justify-center items-start max-w-xl mx-auto lg:max-w-none">
                    <p class="fade-in eyebrow mb-5">Step three</p>
                    <h2 class="fade-in mb-5">Sign and deposit</h2>
                    <p class="fade-in text-lg text-gray-600 mb-5">After we've agreed on the project scope, expectations, and timeline, the last step is to sign the proposal and submit payment.</p>
                    <p class="fade-in text-gray-600 mb-10">I offer two payment plans to accommodate multiple budgets. Clients can choose to either pay in two installments or save 5 percent by paying upfront in full.</p>
                    <div class="fade-in flex justify-start items-center mb-10">
                        <img src="/img/visa.webp" alt="Visa logo" class="h-8 w-auto shadow-sm mr-2">
                        <img src="/img/mastercard.webp" alt="Mastercard logo" class="h-8 w-auto shadow-sm mr-2">
                        <img src="/img/amex.webp" alt="American Express logo" class="h-8 w-auto shadow-sm mr-2">
                        <img src="/img/discover.webp" alt="Discover logo" class="h-8 w-auto shadow-sm mr-2">
                        <img src="/img/stripe.webp" alt="Stripe logo" class="h-8 w-auto shadow-sm mr-2">
                    </div>
                    <div class="fade-in flex justify-start items-center">
                        <a href="http://bit.ly/asd-intro-call" target="blank" class="link-xl mr-2">Get started</a>
                        <div class="chevron"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="faq-section" class="section py-32">
        <div class="container">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 mx-auto">
                <div class="col-span-1 flex flex-col justify-start">
                    <p class="fade-in eyebrow mb-5">FAQ</p>
                    <h2 class="fade-in mb-5">Common questions</h2>
                    <p class="fade-in subheading">To the right, you'll find answers to some commonly-asked client questions. If you have any other questions I haven't covered here, send me an <a href="mailto:hello@alexsanchez.design" class="link">email.</a></p>
                </div>
                <div class="lg:col-span-2">
                    <div id="cost-question" x-data="{ open: false }">
                        <div @click="open = !open" class="group flex justify-between items-center w-full cursor-pointer border-b border-gray-100 py-5">
                            <h5 class="group-hover:text-bluebird transition-all">How much will my website cost?</h5>
                            <div class="gray-chevron"></div>
                        </div>
                        <div class="bg-gray-100 p-5" x-show="open">
                            <p>Website designs are quoted based on the needs of each individual project. Each website is unique and requires different tools and considerations. <strong>The minimum price for any project is $1,900.</strong> This price may increase based upon your needs and the complexity of your final website.</p>
                        </div>
                    </div>
                    <div id="domain-question" x-data="{ open: false }">
                        <div @click="open = !open" class="group flex justify-between items-center w-full cursor-pointer border-b border-gray-100 py-5">
                            <h5 class="group-hover:text-bluebird transition-all">I already have a domain name. Can I use it?</h5>
                            <div class="gray-chevron"></div>
                        </div>
                        <div class="bg-gray-100 p-5" x-show="open">
                            <p>Absolutely. Your new website will have a temporary staging domain until it's time to finally go live.</p>
                        </div>
                    </div>
                    <div id="hosting-question" x-data="{ open: false }">
                        <div @click="open = !open" class="group flex justify-between items-center w-full cursor-pointer border-b border-gray-100 py-5">
                            <h5 class="group-hover:text-bluebird transition-all">Is the cost of hosting included?</h5>
                            <div class="gray-chevron"></div>
                        </div>
                        <div class="bg-gray-100 p-5" x-show="open">
                            <p>No; the cost of hosting your website is <strong>not</strong> included in the price. After the design has been finalized, clients will be required to create a paid hosting account with <a href="https://netlify.com" class="link">Netlify,</a> <a href="https://kinsta.com" class="link">Kinsta,</a> or <a href="https://weblfow.com" class="link">Webflow</a>. The cost of hosting ranges from $15 to $20 per month. In some cases, I may be able to work with existing hosting providers.</p>
                        </div>
                    </div>
                    <div id="maintainance-question" x-data="{ open: false }">
                        <div @click="open = !open" class="group flex justify-between items-center w-full cursor-pointer border-b border-gray-100 py-5">
                            <h5 class="group-hover:text-bluebird transition-all">Can you maintain my site for me?</h5>
                            <div class="gray-chevron"></div>
                        </div>
                        <div class="bg-gray-100 p-5" x-show="open">
                            <p>Yes, I offer ongoing website support in the form of a monthly retainer package. If you're interested, we can discuss this further upon completion of the project.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonial-section" class="py-32">
        <div class="container">
            <div class="flex flex-col items-center text-center max-w-xl mx-auto">
                <blockquote class="text-xl text-gray-400 mb-10">
                    Alex is an outstanding thought partner and web developer! He took the time and care to fully understand my vision and the purpose of my work. His communication is timely, kind, and always professional. I learned so much from Alex's knowledge, skills, and abilities, and highly recommend using Alex's craft.
                </blockquote>
                <div class="flex justify-start">
                    <img src="/img/perez.webp" alt="A picture of Ruth Ashley Perez" class="avatar mr-3">
                    <div class="flex flex-col items-start">
                        <p class="text-sm font-semibold text-bluebird">Ruth Ashley Perez</p>
                        <p class="text-sm text-gray-400">ACES</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ partial "cta-card.html" . }}

</main>


{{ end }}