{{ define "main" }}
<main aria-roledescription="main">

    <section id="hero-section" class="section py-40">
        <div class="container">
            <div class="helmet mb-10">
                <p class="fade-in eyebrow mb-5">{{ .Params.tag }}</p>
                <h1 class="fade-in mb-10">{{ .Title }}</h1>
                <p class="fade-in subheading">{{ .Summary }}</p>
            </div> 
        </div>
    </section>

    <section id="image-section">
        <figure class="text-center">
            <img src="{{ .Params.image }}" alt="{{ .Params.imagealt }}" class="w-screen h-auto mb-4" loading="lazy">
            <figcaption class="text-sm text-gray-400">
                Image credit <a href="{{ .Params.imageurl }}" target="blank" class="link">{{ .Params.imageauthor }}</a>
            </figcaption>
        </figure>
    </section>

    <section id="content-section" class="py-32">
        <div class="container">
            <article class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl mx-auto">
                {{ .Content }}
            </article>
        </div>
    </section>

    {{ partial "newsletter-card.html" . }}

</main>
{{ end }}