<section id="cta-section" class="py-32">
    <div class="container">
        <a href="" target="blank" class="relative flex flex-col justify-center items-center text-center rounded-3xl bg-gradient-to-b from-bluebird-light to-bluebird w-full shadow-2xl p-20 overflow-hidden">
            <img src="/img/squircle-white.svg" alt="White rounded rectangle" id="squircle-left" class="absolute -bottom-96 -left-60 opacity-20 h-144 w-144 transform -rotate-12">
            <img src="/img/squircle-white.svg" alt="White rounded rectangle" id="squircle-right" class="absolute -top-60 -right-40 opacity-40 h-96 w-96 transform -rotate-12">
            <img src="/img/squircle-white.svg" alt="White rounded rectangle" id="squircle-center" class="absolute bottom-14 right-72 opacity-10 h-12 w-12 transform rotate-6">
            <div class="flex flex-col items-center max-xl">
                <h2 class="text-white mb-5">Let's work together</h2>
                <p class="text-xl font-medium text-white opacity-90 mb-10">Ready to begin your next project?</p>
                <div class="btn-white">Get started</div>
            </div>
        </a>
    </div>
</section>