<section id="cta-section" class="py-32">
    <div class="container">
        <a href="" target="blank" class="relative flex flex-col justify-center items-center text-center rounded-3xl bg-gradient-to-b from-bluebird-light to-bluebird w-full shadow-2xl p-20 transform hover:-translate-y-0.5 transition-all overflow-hidden">
            <div class="max-xl">
                <h2 class="text-white mb-5">Let's work together</h2>
                <p class="text-xl font-medium text-white opacity-90 mb-10">Ready to begin your next project?</p>
                <div class="inline-block bg-white font-medium text-bluebird rounded-md shadow-md px-6 py-3">Get started</div>
            </div>
        </a>
    </div>
</section>