<form action="POST" class="flex items-stretch rounded-md shadow-md overflow-hidden mb-5">
    <label for="email" class="hidden">Email</label>
    <input type="email" name="email" id="email" placeholder="name@example.com" class="bg-white w-100 border-2 border-gray-100 font-medium text-bluebird focus:border-bluebird p-4">
    <button class="bg-bluebird border-2 border-bluebird font-medium text-white px-8 py-4">Submit</button>
</form>
<p class="text-sm text-gray-400">(Don't worry. I won't send you spam, and I'll keep your email address safe.)</p>