<form name="newsletter" method="post" data-netlify="true" class="flex items-stretch rounded-md shadow-sm overflow-hidden mb-5" target="blank">
    <label for="email" class="hidden">Email</label>
    <input type="email" name="email" placeholder="name@example.com" class="required email bg-white w-100 border border-gray-100 rounded-tl-md rounded-bl-md font-medium text-bluebird focus:border-bluebird p-4">
    <button class="bg-bluebird border border-bluebird rounded-tr-md rounded-br-md font-medium text-white px-8 py-4">Submit</button>
</form>
<p class="text-sm text-gray-400">(Don't worry. I won't send you spam, and I'll keep your email address safe.)</p>