<section id="newsletter-section" class="py-32">
    <div class="container">
        <div class="flex flex-col justify-center items-center text-center bg-gray-50 p-10 lg:p-20">
            <div class="helmet">
                <p class="eyebrow mx-auto mb-5">Subscribe</p>
                <h2 class="mb-5">Stay up to date</h2>
                <p class="subheading mb-10">Subscribe to my newsletter to make sure you're the first to know whenever I publish a new blog post.</p>
                
                {{ partial "newsletter-form.html" . }}

            </div>
        </div>
    </div>
</section>