{{ define "main" }}
<main aria-roledescription="main">
    <section id="hero-section" class="section py-40 relative">
        <div class="container">
            <div class="grid grid-cols-1 lg:grid-cols-2 grid-rows-1 gap-10">
                <div class="row-start-2 lg:row-start-1 lg:col-start-1 flex flex-col justify-center items-start">
                    <p class="fade-in eyebrow mb-5">Alex Sanchez Designs</p>
                    <h1 class="fade-in mb-10">Beautiful, custom-designed websites</h1>
                    <p class="fade-in subheading mb-10">Trying to do everything yourself is stressful. Focus on running your business, and leave the website to me. Click on the button below, and let's get started.</p>
                    <div class="fade-in flex justify-start items-center">
                        <a href="http://bit.ly/asd-intro-call" class="btn-blue mr-5">Get started</a>
                        <a href="#services" class="btn-white">Learn more</a>
                    </div>
                </div>
                <div class="row-start-1 lg:col-start-2 lg:pers-right relative w-full h-144 lg:overflow-visible">
                    <img src="/img/app.webp" alt="" class="float absolute inset-0 right-0 -right-14 rounded-xl shadow-xl w-3/4 lg:w-full z-20">
                    <img src="/img/product.webp" alt="" class="float absolute -top-14 -left-14 rounded-md shadow-md w-1/2 z-30">
                    <img src="/img/christina.webp" alt="" class="float absolute bottom-14 -right-14 rounded-lg shadow-lg w-2/3 z-40">
                    <img src="/img/ecomshop.webp" alt="" class="float absolute -top-16 -right-32 rounded-md shadow-md w-1/2 z-10">
                </div>
            </div>    
        </div>
    </section>

    <section id="services-section" class="section py-32">
        <div class="container">
            <div class="helmet mb-20">
                <p class="fade-in eyebrow mb-5">Services</p>
                <h2 class="fade-in mb-10">How I can help you</h2>
                <p class="fade-in subheading mb-10">I offer a variety of services to help my clients reach their online business goals. Whether you are looking to update an existing website or build one from scratch, I'm happy to help.</p>
                <div class="fade-in flex justify-center items-center">
                    <a href="/services" class="link-xl mr-2">Learn more</a>
                    <div class="chevron"></div>
                </div>
            </div>
            <div id="services-grid" class="grid grid-cols-1 grid-rows-3 lg:grid-cols-3 lg:grid-rows-1 gap-10">
                <div class="card justify-center text-center">
                    <div class="icon-wrapper mx-auto mb-5">
                        <img src="/img/microscope.webp" alt="Microscope emoji" class="h-10 w-10">
                    </div>
                    <h4 class="mb-3">Research</h4>
                    <p class="text-gray-400">Each project begins with a comprehensive research phase to clearly establish the needs of your business and potential customers.</p>
                </div>
                <div class="card justify-center text-center">
                    <div class="icon-wrapper mx-auto mb-5">
                        <img src="/img/palette.webp" alt="Palette emoji" class="h-10 w-10">
                    </div>
                    <h4 class="mb-3">Design</h4>
                    <p class="text-gray-400">I will create low-fidelity wireframes and clickable prototypes of your website primed for testing, review, and iteration.</p>
                </div>
                <div class="card justify-center text-center">
                    <div class="icon-wrapper mx-auto mb-5">
                        <img src="/img/construction.webp" alt="Construction emoji" class="h-10 w-10">
                    </div>
                    <h4 class="mb-3">Development</h4>
                    <p class="text-gray-400">Your website will be developed in accordance with W3C web standards and optimized for usability and performance.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="feature-section1" class="section py-32">
        <div class="container">
            <div class="grid grid-cols-1 grid-rows-1 lg:grid-cols-3 gap-10">
                <div class="row-start-2 lg:row-start-1 lg:col-start-1 flex flex-col justify-center items-start max-w-xl mx-auto lg:max-w-none">
                    <p class="fade-in eyebrow mb-5">Personalized</p>
                    <h2 class="fade-in mb-5">100% custom</h2>
                    <p class="fade-in text-lg text-gray-600 mb-5">First impressions are important. Most visitors will judge your business within seconds of landing on your website.</p>
                    <p class="fade-in text-gray-600 mb-10">It's no longer optional to have an impressive website that accurately represents your company. You need an impressive online presence that will wow your customers and leave them wanting to buy from you.</p>
                    <div class="fade-in flex justify-start items-center">
                        <a href="/services" class="link-xl mr-2">Learn more</a>
                        <div class="chevron"></div>
                    </div>
                </div>
                <div class="lg:pers-right lg:col-span-2">
                    <img src="/img/style-mockup.webp" alt="Browser mockup of an online style guide" class="float" loading="lazy">
                </div>
            </div>
        </div>
    </section>

    <section id="feature-section2" class="section py-32">
        <div class="container">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
                <div class="lg:pers-left lg:col-span-2">
                    <img src="/img/cms-mockup.webp" alt="Browser mockup of a content management system" class="float" loading="lazy">
                </div>
                <div class="flex flex-col justify-center items-start max-w-xl mx-auto lg:max-w-none">
                    <p class="fade-in eyebrow mb-5">Manageable</p>
                    <h2 class="fade-in mb-5">Easy to maintain</h2>
                    <p class="fade-in text-lg text-gray-600 mb-5">You shouldn't need to pay a web developer every single time you want something changed on your website.</p>
                    <p class="fade-in text-gray-600 mb-10">I will set you up with a CMS that will allow you to update and edit your website all on your own. After the project, I will send you a video training series teaching you how to manage your website all by yourself––easily and in minutes!</p>
                    <div class="fade-in flex justify-start items-center">
                        <a href="/services" class="link-xl mr-2">Learn more</a>
                        <div class="chevron"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonial-section" class="py-32">
        <div class="container">
            <div class="flex flex-col items-center text-center max-w-xl mx-auto">
                <blockquote class="text-xl text-gray-400 mb-10">
                    Alex was tremendously helpful when we were updating our website! He gently walked us through understanding complicated processes and helped us realize why certain changes or decisions were important. He is communicative, responsive, and easy to work with, and we will definitely work with him again.
                </blockquote>
                <div class="flex justify-start">
                    <img src="/img/pardo.webp" alt="A picture of Beth Jackson Pardo smiling" class="avatar mr-3">
                    <div class="flex flex-col items-start">
                        <p class="text-sm font-semibold text-bluebird">Beth Jackson-Pardo</p>
                        <p class="text-sm text-gray-400">Project Self-Sufficiency</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ partial "cta-card" . }}

</main>
{{ end }}